#Note
{
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-shadow: 3mm;
    
}

#result_label
{
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 10cm;
}

#result_confidence 
{
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 10cm;
}

#Start
{
    font-family: 'Mochiy Pop One', sans-serif;
}

body
{
  background-image: linear-gradient(to right top, green, #2591d9, purple, red, orange); 
}

.copyright_footer
{
    position: fixed;
    color: greenyellow;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: limegreen;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(red, green, blue);
    font-family: 'Dancing Script', cursive;
    font-size: 50%;
}